@if (hotel$ | async; as hotel) {
<div class="card">
  <div class="card-image-wrapper">
    <img src="{{ hotel.hotel.image }}" class="card-image" alt="Hotel" />
    <span class="card-price"
      ><b>{{ hotel.lowestPrice.currency }} {{ hotel.lowestPrice.amount }}</b
      >/ noite</span
    >
  </div>
  <div class="card-content">
    <div class="card-header">
      <b class="hotel-name">{{ hotel.hotel.name }}</b>
      <div class="star-row">
        @for (s of getStarsArray(hotel.hotel.stars); track $index) {
        <i class="ph-fill ph-star star-icon"></i>
        }
      </div>
    </div>
    <div class="card-actions">
      <app-button textoBotao="Ver mais" (click)="pesquisar()"></app-button>
    </div>
  </div>
</div>
}
