@if (hotel$ | async; as hotel) {
  <div class="hotel-content">
    <div class="hotel-content-info">
      <img src="{{ hotel.hotel.image }}" alt="{{ hotel.hotel.name }}" />
      <div class="hotel-info">
        <div class="hotel-header">
          <span class="hotel-name">{{ hotel.hotel.name }}</span>
          <div class="hotel-location">
            <i class="ph ph-map-pin"></i>
            <span>{{ hotel.hotel.address }}</span>
          </div>
        </div>
        <div class="hotel-rating">
          @for (s of getStarsArray(hotel.hotel.stars); track $index) {
          <i class="ph-fill ph-star star-icon"></i>
          }
        </div>
        <p class="hotel-description">{{ hotel.hotel.description }}</p>
      </div>
    </div>
    <div class="hotel-rooms">
      <p class="hotel-rooms__title">Quartos disponíveis</p>
      <div class="hotel-rooms__list">
        @for (room of hotel.rooms; track $index) {
        <app-room-option [room]="room" [hotelId]="hotel.id"></app-room-option>
        }
      </div>
    </div>
  </div>
}
