@if (hotel$ | async; as hotel) {
<div class="hotel-container">
  <div class="hotel-hero">
    <div class="hotel-info d-flex">
      <img
        src="{{ hotel.hotel.image }}"
        alt="{{ hotel.hotel.name }}"
        class="hotel-image"
      />
      <div class="hotel-info">
        <h1 class="hotel-name">{{ hotel.hotel.name }}</h1>

        <div class="hotel-location d-flex align-items-center">
          <i class="ph ph-map-pin me-1"></i>
          <h3 class="hotel-address">{{ hotel.hotel.address }}</h3>
        </div>

        <div class="hotel-rating">
          @for (s of getStarsArray(hotel.hotel.stars); track $index) {
          <i class="ph-fill ph-star star-icon"></i>
          }
        </div>

        <p class="hotel-description">{{ hotel.hotel.description }}</p>
      </div>
    </div>

    <div>
      <h3 class="available-rooms-title mt-4">Quartos Disponíveis</h3>
      <div>
        @for (room of hotel.rooms; track $index) {
        <app-room-option [room]="room"></app-room-option>
        }
      </div>
    </div>
  </div>
</div>
}
