.reserva-sucesso-container {
  background-color: #123952F2;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sucesso-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

