<div class="reserva-sucesso-container">
  @if (hotel$ | async; as hotel) {
  <div class="sucesso-container">
    <h2 class="titulo-sucesso">Reserva realizada com sucesso!</h2>

    <div class="info-hotel">
      <p><strong>Hotel:</strong> {{ hotel.hotel.name }}</p>
    </div>
    @if (checkoutData$ | async; as checkoutData) {
    <div class="info-hospede">
      <strong class="subtitulo">Hóspedes</strong>
      @for (hospede of checkoutData.guests; track $index) {
      <div class="hospede-item">
        <p>Hóspedes: {{ $index + 1 }}</p>
        <p>Nome: {{ hospede.name }}</p>
        <p>Sobrenome: {{ hospede.lastname }}</p>
      </div>
      }
    </div>

    <div class="info-contato">
      <strong class="subtitulo">Contato</strong>
      <p>Nome: {{ checkoutData.contactName }}</p>
      <p>Email: {{ checkoutData.contactEmail }}</p>
      <p>Telefone: {{ checkoutData.contactPhone }}</p>
    </div>
    }
  </div>
  }
</div>
