<div class="reserva-sucesso-container">
  <div class="sucesso-container">
    <h2 class="titulo-sucesso">Reserva realizada com sucesso!</h2>

    <div class="info-hotel">
      <p><strong>Hotel:</strong> {{ checkoutData?.nomeHotel }}</p>
    </div>

    <div class="info-hospede">
      <strong class="subtitulo">Hóspede</strong>
      <p>
        Nome: {{ checkoutData?.nomeHospede }}
        {{ checkoutData?.sobrenomeHospede }}
      </p>
    </div>

    <div class="info-contato">
      <strong class="subtitulo">Contato</strong>
      <p>Nome: {{ checkoutData?.nomeContato }}</p>
      <p>Email: {{ checkoutData?.emailContato }}</p>
      <p>Telefone: {{ checkoutData?.telefoneContato }}</p>
    </div>
  </div>
</div>
