<div class="page-container">
  <app-search-engine></app-search-engine>

  <div class="search-summary d-flex justify-content-between align-items-center">
    <div class="search-info">
      <h2 class="location-title">São Paulo</h2>
      <p class="hotel-count">102 hotéis encontrados</p>
    </div>
    <button class="filter-button" aria-label="Filtros">
      <i class="ph ph-faders-horizontal"></i>
    </button>
  </div>

  <div class="card-grid">
    @for (hotel of (hotels$ | async); track $index) {
      <app-card [hotel]="hotel" ></app-card>
    }
  </div>
</div>
