@if (searchInputData$ | async; as searchInput) {
<div class="page-container">
  <div class="search-summary d-flex justify-content-between align-items-center">
    <div class="search-info">
      <p>
        <b class="location-title"> {{ searchInput.destinationName }} </b>
        {{ searchInput.region }}
      </p>
      <p class="hotel-count">
        {{ (hotelIds$ | async)!!.length }} hotéis encontrados
      </p>
    </div>
    <app-hotel-filters></app-hotel-filters>
  </div>

  <div class="card-grid">
    @for (hotelId of (hotelIds$ | async); track $index) {
    <app-card [hotelId]="hotelId"></app-card>
    }
  </div>
</div>
}
