@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.filter-container {
  position: relative;
  display: inline-block;
}
/* btn Filter */
.filter-button {
  width: 49px;
  height: 38px;
  background-color: transparent;
  border: 1px solid #0080ff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}
.filter-button i {
  color: #0080ff;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  transform: rotate(90deg);
}

/* Filter */
.filter-panel {
  position: absolute;
  right: 0;
  width: 234px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 16px;
  z-index: 100;
  color: #242424;
  margin-top: 10px;
}

/* Header Filter*/
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
.filter-header p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}
.filter-actions {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter-actions i,
.filter-actions .clear-btn {
  height: 24px;
  line-height: 24px;
  display: inline-block;
}
.filter-actions i {
  color: #1877f2;
}
.filter-actions .clear-btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  background: none;
  color: #1877f2;
  border: none;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
/* Sections */
.filter-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 5px;
}

/* Titulos */
.filter-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}
.filter-title p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}
.filter-title i {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HR */
hr {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  opacity: 1;
  margin: 0;
}

/* Hotel */
.nameHotel {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Titillium Web', sans-serif;
}
.hotelName {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}
/* Preço */
.price-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 100%;
  font-family: 'Inter', sans-serif;
}
.price-number {
  flex: 1;
}
.min-price {
  text-align: left;
}
.max-price {
  text-align: right;
}
.divider {
  flex: 0;
  margin: 0 8px;
  text-align: center;
}
mat-slider {
  width: 90%;
  --mdc-slider-handle-color: #0080ff;
  --mdc-slider-active-track-color: #0080ff;
  --mdc-slider-inactive-track-color: #d3d3d3;
  --mdc-slider-value-indicator-color: #0080ff;
}
/* Estrelas */
.checkout-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.checkbox-text {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 0px;
}

.checkout-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}

.checkout-list input[type="checkbox"]:checked {
  background-color: #0080FF;
  border-color: #0080FF;
}

.checkout-list input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.star-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.star-count {
  font-weight: bold;
}
