<button
  class="filter-button"
  aria-label="Filtros"
  (click)="toggleFilters($event)"
>
  <i class="ph ph-faders-horizontal"></i>
</button>

@if (showFilters) {
<div class="filter-panel" (click)="$event.stopPropagation()">
  <div class="filter-header">
    <h3>Filtros</h3>
    <div>
      <i class="ph ph-trash"></i>
      <button class="clear-btn" (click)="clear()">Limpar filtros</button>
    </div>
  </div>

  <form [formGroup]="filterForm">
    <!-- HOTEL -->
    <div class="filter-section">
      <label for="nameHotel">Hotel</label>
      <input
        id="hotelName"
        type="text"
        placeholder="Nome do hotel"
        formControlName="nameHotel"
      />
    </div>

    <!-- PREÇO -->
    <div class="filter-section">
      <div class="filter-title" (click)="togglePrice()">
        <p>Preço</p>
        <span>
          @if (showPrice) {
          <i class="ph ph-caret-down"></i>
          } @else {
          <i class="ph ph-caret-up"></i>
          }
        </span>
      </div>

      <!-- Conteúdo do preço -->
      @if (!showPrice) {
      <div class="price-content">
        <div class="price-values">
          <span>R$ {{ filterForm.get("minPrice")?.value }}</span>
          <span>—</span>
          <span>R$ {{ filterForm.get("maxPrice")?.value }}</span>
        </div>

        <div class="mat-slider-wrapper">
          <mat-slider min="0" max="1200">
            <input matSliderStartThumb formControlName="minPrice" />
            <input matSliderEndThumb formControlName="maxPrice" />
          </mat-slider>
        </div>
      </div>
      }
    </div>

    <!-- Estrelas -->
    <div class="filter-section">
      <div class="filter-title" (click)="toggleStar()">
        <p>Estrelas</p>
        <span>
          @if (showStars) {
          <i class="ph ph-caret-down"></i>
          } @else {
          <i class="ph ph-caret-up"></i>
          }
        </span>
      </div>

      @if (!showStars) {
      <div class="checkout-list">
        @for (entry of (hotelStars$ | async) | keyvalue; track entry.key){ @if
        (entry.key == "0") {
        <label>
          <input type="checkbox" [value]="entry.key" />
          Não classificado
          <span>H: {{ entry.value }}</span>
        </label>
        } @else {
        <label>
          <input type="checkbox" [value]="entry.key" />
          {{ entry.key }} estrelas
          <span>H: {{ entry.value }}</span>
        </label>
        } }
      </div>
      }
    </div>
  </form>
</div>
}
