<div class="search-item">
  <div class="label-row">
    <i class="ph ph-map-pin"></i>
    <label for="{{ labelText }}">{{ labelText }}</label>
  </div>

  <!-- Campo de Autocomplete -->
  <mat-form-field
    appearance="outline"
    class="exemplo-largura-total"
    [class.error-field]="isError"
  >
    <input
      type="text"
      matInpdut
      autocomplete="off"
      [matAutocomplete]="auto"
      (input)="inputChanges($event.target)"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onValueChange($event.option.value)">
      @for (opcao of suggestionsFiltered; track opcao.id) {
      <mat-option [value]="opcao">
        <div class="suggestion-item">
          <i class="ph ph-map-pin suggestion-icon"></i>
          <div class="suggestion-texts">
            <div class="suggestion-name">{{ opcao.name }}</div>
            <div class="suggestion-region">{{ opcao.region }}</div>
          </div>
        </div>
      </mat-option>
      }
    </mat-autocomplete>

    @if (isError) {
    <mat-error> O {{ labelText }} é obrigatório. </mat-error>
    }
  </mat-form-field>
</div>
