<div class="search-item border-left-custom">
  <div class="label-row">
    <i class="ph ph-calendar-blank"></i>
    <label>{{ labelText }}</label>
  </div>

  <div class="custom-date-input">
    <input
      type="text"
      [matDatepicker]="picker"
      [min]="minDate"
      [value]="value"
      (focus)="picker.open()"
      (dateChange)="onValueChange($event)"
      (blur)="onTouched()"
      placeholder="dd/mm/yyyy"
      class="date-input"
    />

    <mat-datepicker #picker></mat-datepicker>
  </div>
</div>
