<div>
<h4>Finalize sua reserva!</h4>
<div>
  <div>
    div1 - Hotel: nome
  </div>
  <div>
    div 2 - Contato da reserva
  </div>
</div>
<div>
  <div>
    <h2>Sua reserva</h2>
    <hr>
    <h2>tadshotel Steegoversloot</h2>
    <p>Rua Deputado Laercio Corte, 1501, São Paulo BR</p>
    <p>Tipo de quarto</p>
    <p>stts do quarto</p>
    <div>
      <p>importo</p>
      <p>R$ valor</p>
    </div>
    <div>
      <p>total</p>
      <p>valor total</p>
    </div>
    <app-button textoBotao="RESERVAR"></app-button>
  </div>
</div>
</div>
